DATABASE_URL="postgresql://postgres:postgres@localhost:5432/zunami_mry?schema=public"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP_NUMBER="62895611099430"
